<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
     <h1>Welcome {{ user }}</h1>
     <div><a href="/search_course">课程管理</a></div>
     <div><a href="/search_cls">班级管理</a></div>
     <div><a href="/search_stu">学生管理</a></div>
     <a href="/logout">
         <button type="button">退出</button>
     </a>



     <script src="../static/js/jquery-1.12.4.js"></script>
     <script src="../static/js/jquery.cookie.js"></script>
     <script>

     </script>

</body>
</html>